.home {
    .featured {
        .row {
            background-color: #f6f6f6;
        }

        .title {
            font-weight: 400;
        }
        .img-hover {
            overflow: hidden;
            transition: 0.3s ease-in-out;
            transform: scale(1);
        }
        .img-hover:hover img {
            transform: scale(1.1);
        }
    }
    .slick-track {
        padding: 60px 0;
    }

    .slick-slider .slick-slide {
        // margin: 0rem 10rem;
        outline: none !important;
        transition: all 0.6s ease-in-out 0s;
    }
    .center .slick-center {
        transform: scale(1.2);
    }
    .slick-prev {
        left: 20%;
    }
    .slick-next {
        right: 20%;
    }
}
