<div id="bannerServices" class="carousel slide banner banner-pricing bd-b" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mx-auto" style="background-image: url(../../images/banner/banner-1.jpg)">
        <img src="../../images/banner/banner-1.jpg" class="img-fluid d-none d-md-block" alt="...">
        <div class="banner-detail">
          <div class="container">
            <div class="row">
              <div class="col-sm-auto ml-auto d-table">
                <div class="banner-detail-inner d-table-cell align-middle p-xl-5 px-4 wow fadeInLeft"
                  data-wow-delay="0.5s">
                  <div class="text-right py-4">
                    <h2 class="text-1 text-uppercase m-0"><strong>ONCALL<br>
                        FPT CLOUD PBX</strong></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>