<div id="bannerHome" class="carousel slide banner bd-b" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="mx-auto" style="background-image: url(../../images/banner/banner-1.png)">
				<img src="../../images/banner/banner-1.png" class="img-fluid d-none d-md-block" alt="...">
				<div class="banner-detail">
					<div class="container h-100">
						<div class="row h-100">
							<div class="col-sm-auto mr-auto d-table h-100">
								<div class="banner-detail-inner d-table-cell align-middle pl-lg-5 py-3 wow fadeInRight"
									data-wow-delay="0.5s">
									<div class="text-left">
										<h4 class="font-weight-bold text-uppercase mb-lg-3 mb-2">
											FPT E-INVOICE MANG ĐẾN MỘT GIẢI PHÁP <br>
												TỐI ƯU CHO DOANH NGHIỆP
										</h4>
										<h4 class="mb-lg-4 mb-3">
											<svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z"
													clip-rule="evenodd" />
											</svg>
											Quản lý hiệu quả <br>
											<svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z"
													clip-rule="evenodd" />
											</svg>
											Thao tác đơn giản <br>
											<svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z"
													clip-rule="evenodd" />
											</svg>
											Phát hành nhanh <br>
											<svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z"
													clip-rule="evenodd" />
											</svg>
											Tiết kiệm chi phí
										</h4>
										<a class="btn btn-info px-5" href="#">REGISTER</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#bannerHome" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#bannerHome" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>