<div class="banner container">
	<div id="bannerHome" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../../images/banner/banner-1.jpg" class="img-fluid d-none d-sm-block" alt="...">
				<img src="../../images/banner/Banner-1-phone.jpg" class="img-fluid d-block d-sm-none" alt="...">
			</div>
			<div class="carousel-item">
				<img src="../../images/banner/banner-2.jpg" class="img-fluid d-none d-sm-block" alt="...">
				<img src="../../images/banner/Banner-2-phone.jpg" class="img-fluid d-block d-sm-none" alt="...">
			</div>
			<div class="carousel-item">
				<img src="../../images/banner/banner-3.jpg" class="img-fluid d-none d-sm-block" alt="...">
				<img src="../../images/banner/Banner-3-phone.jpg" class="img-fluid d-block d-sm-none" alt="...">
			</div>
		</div>
		<a class="carousel-control-prev" href="#bannerHome" role="button" data-slide="prev">
			<svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
				</path>
			</svg>
		</a>
		<a class="carousel-control-next" href="#bannerHome" role="button" data-slide="next">
			<svg class="bi bi-chevron-right" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
				</path>
			</svg>
		</a>
	</div>
</div>