<div class="py-md-5 py-4 pt-md-5 mt-4 footer-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 address">
				<h5 class="title">Địa chỉ</h5>
				<p class="m-0">HCM: Lầu 3 Lô 29B-31B-33B Đường Tân Thuận KCX Tân Thuận, P.Tân Thuận Đông, Q.7, TP.HCM</p>
				<p class="email">Email: <a href="mailto:Anhlqt6@fpt.com.vn">Anhlq6@fpt.com.vn</a></p>
				<p class="m-0">Hà Nội: Lầu 12A , TNR Tower, 54 Nguyễn Chí Thanh, Đống Đa, Hà Nội.</p>
				<p class="email">Email: <a href="mailto:Anhtt70@fpt.com.vn">Anhtt70@fpt.com.vn</a></p>

			</div>
			<div class="col-sm-4 social text-center">
				<h5 class="title">
					Mạng xã hội
				</h5>
				<ul class="list-inline">
					<li class="list-inline-item mr-3">
						<a href="" target="_blank"><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="" target="_blank"><i class="fa fa-youtube-play fa-fw fa-lg" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-sm-4 about-ihome">
				<h5 class="title">Giới thiệu về ihome</h5>
				<p class="text-center">IHome nơi cung cấp giải pháp nhà thông minh tiên tiến hiện đại. Với sản phẩm tiên phong tiêu biểu là
					FPT iHome</p>
				<p class="lead m-0">Hotline HCM: <span>096 678 1990</span></p>
				<p class="lead m-0">Hotline HN: <span>097 279 6890</span></p>
				<p class="lead m-0">Hỗ trợ kỹ thuật: <span>028.7300.2222 Ext: 89777 hoặc 8654</span></p>
			</div>
		</div>
	</div>
</div>