<div class="mt-md-5 mt-4 footer-top">
	<div class="container">
		<!-- <hr class="m-0"/> -->
		<div class="row">
			<div class="col-lg-3 py-5">               
				<img src="../../images/system/fpt-telecom-international.png" alt="" class="img-fluid" />
				<div class="mt-4">
					DISCOVER OTHER SERVICES FROM<br>
					<span class="mr-3">FPT.VN</span> ONCALL
				</div>
			</div>
			<div class="col-lg-3 px-4 py-5 footer-top-menu">
				<ul class="list-unstyled m-0 text-uppercase">
					<li class="mb-1"><a href="index.html">Home</a></li>
					<li class="mb-1"><a href="find-your-invoice.html">Find Your Invoice</a></li>
					<li class="mb-1"><a href="pricing.html">Pricing</a></li>
					<li class="mb-1"><a href="contact.html">Contact Us</a></li>
					<li class="mb-2"><a href="register.html">Register</a></li>
					<li><img width="40" class="rounded-circle" src="../../images/system/lang-vn.png" alt="" /></li>
				</ul>
			</div>
			<div class="col-lg-6 py-5">
				<div class="row">
					<div class="col-sm-5 order-1 order-sm-1">
						<h6>
							<i class="fa fa-phone fa-fw fa-lg"></i> Customer support
						</h6>
						<p>1800 6973</p>
					</div>
					<div class="col-sm-7 order-2 order-sm-1">
						<h6><i class="fa fa-map-marker fa-fw fa-lg"></i> HO CHI MINH CITY</h6>
						<p>Lot L.29B-31B-33B, Street Tan Thuan, Tan Thuan EPZ, East Tan Thuan Ward, District 7, HCM
							City, Vietnam.</p>
					</div>
					<div class="col-sm-5 order-1 order-sm-1">
						<h6>
							<i class="fa fa-phone fa-fw fa-lg"></i> Technical support
						</h6>
						<p>1900 6973</p>
					</div>
					<div class="col-sm-7 order-2 order-sm-1">
						<h6>
							<i class="fa fa-map-marker fa-fw fa-lg"></i> HANOI
						</h6>
						<p>Floor 12A, TNR Building, 54A Nguyen Chi Thanh, Ba Dinh District, Hanoi, Vietnam.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>