${require('../templates/footer-top-vn.html')}
<footer id="footer" class="py-4">
	<div class="container text-center text-md-left">
		<ul class="list-inline mb-2">
			<li class="list-inline-item"><a class="text-light" href="/gioi-thieu">Giới thiệu</a></li>
			<li class="list-inline-item">⋅</li>
			<li class="list-inline-item"><a class="text-light" href="/lien-he">Liên hệ</a></li>
			<li class="list-inline-item">⋅</li>
			<li class="list-inline-item"><a class="text-light" href="/terms-of-use">Terms of Use</a></li>
			<li class="list-inline-item">⋅</li>
			<li class="list-inline-item"><a class="text-light" href="/privacy-policy">Privacy Policy</a></li>
		</ul>
		<p class="copyright m-0">Copyright © 2019. All rights reserved.</p>
	</div>
</footer>
${require('../templates/social.html')}
${require('../templates/scroll-top.html')}
${require('../templates/send-request-advice.html')}
<a class="calling" href="tel:0909090909"><img src="../../images/system/calling.gif" alt="" class="img-fluid"></a>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmfxRua_XT-f_8rpwvzM6cQ3-0BeSvGNQ"></script>
</body>

</html>