${require('../templates/footer-top.html')}
<footer id="footer" class="py-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-auto">
				<p class="my-2 text-center">COPYRIGHT &copy; 2019, FPT TELECOM INTERNATIONAL</p>
			</div>
			<div class="col-sm-auto ml-sm-auto">
				<nav class="nav justify-content-center">
					<a class="nav-link" href="">Privacy</a>
					<a class="nav-link" href="">Terms of Use</a>
				</nav>
			</div>
		</div>
	</div>
</footer>
${require('../templates/scroll-top.html')}
<div class="sidebar-overlay" data-toggle="offcanvas"></div>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmfxRua_XT-f_8rpwvzM6cQ3-0BeSvGNQ"></script>
</body>

</html>