<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="${require('../../images/favicons/favicon.ico')}">
    <link rel="icon" type="image/png" sizes="96x96" href="${require('../../images/favicons/favicon-96x96.png')}">
    <link rel="apple-touch-icon" sizes="96x96" href="${require('../../images/favicons/favicon-96x96.png')}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=vietnamese">
    <title>Hello, world!</title>
</head>

<body>
    <header id="header" class="fixed-top">
        ${require('../templates/nav-top-vn.html')}
    </header>