<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
	<div class="container">
		<a class="navbar-brand" href="index.html">
			<img class="logo" src="../../images/system/e-invoice-fpt.png" height="80" alt="" class="img-fluid">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMenu">
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarsMenu">
			<div class="ml-auto text-lg-right">
				<div class="hotline d-flex justify-content-end">
					<a href="tel:18006973" class="mx-lg-3 d-none d-lg-block">
						<i class="fa fa-phone-rotary fa-lg fa-fw"></i> <strong>18006973</strong></a>
				</div>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pricing.html">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="find-your-invoice.html">Find Your Invoice</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="register.html">Register</a>
					</li>
					<li class="nav-item hotline d-lg-none">
						<a class="nav-link" href="tel:18006973">
							<strong>18006973</strong>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav lang d-block d-lg-none">
					<li class="nav-item">
						<a class="nav-link" href="index-vn.html">
							<img src="../../images/system/lang-vn.png" alt="" class="rounded-circle img-fluid">
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="lang d-none d-lg-block">
			<a class="nav-link pr-0" href="index-vn.html">
				<img src="../../images/system/lang-vn.png" alt="" class="rounded-circle img-fluid">
			</a>
		</div>
	</div>
</nav>