<div class="sra-p h5 py-2 px-3 m-0" id="sra_open">Gửi yêu cầu tư vấn</div>
<div class="send-request-advice" id="send_request_advice">
    <div class="sra-header h5 py-2 px-3">
        Gửi yêu cầu tư vấn
        <a href="javascript:void(0)" id="sra_exit" class="sra-exit">
            <i class="fa fa-times-circle" aria-hidden="true"></i></a>
    </div>
    <div class="sra-body p-3">
        <div class="text-1 py-2 px-3 mb-3 text-center font-weight-light">! Xin vui lòng điền thông tin</div>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text pl-1 pr-0">
                            <i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control pl-1" placeholder="Tên">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text pl-1 pr-0">
                            <i class="fa fa-envelope fa-fw fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control pl-1" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text pl-1 pr-0">
                            <i class="fa fa-phone fa-fw fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control pl-1" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text align-items-start pt-2 pl-1 pr-0">
                            <i class="fa fa-file-text fa-fw fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                    <textarea class="form-control pl-1" placeholder="Nội dung" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-block">Gửi yêu cầu</button>
        </form>
    </div>
</div>