<div class="network-socials-fixed">
    <div class="item">
        <a href="#" target="_blank" data-toggle="tooltip" data-placement="left" title="Mua sắm">
            <span class="icon"> <img src="../../images/social/icon 1.png" alt="" class="img-fluid"> </span>
            <!-- <span class="number">Mua sắm</span> -->
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank" data-toggle="tooltip" data-placement="left" title="Liên hệ Facebook">
            <span class="icon"> <img src="../../images/social/icon 2.png" alt="" class="img-fluid"> </span>
            <!-- <span class="number">Liên hệ Facebook</span> -->
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank" data-toggle="tooltip" data-placement="left" title="Xem video về sản phẩm">
            <span class="icon"> <img src="../../images/social/icon 3.png" alt="" class="img-fluid"> </span>
            <!-- <span class="number">Xem video về sản phẩm</span> -->
        </a>
    </div>
    <div class="item">
        <a href="tel:0900000000" data-toggle="tooltip" data-placement="left" title="Liên hệ Zalo">
            <span class="icon"> <img src="../../images/social/icon 4.png" alt="" class="img-fluid"> </span>
            <!-- <span class="number">0900 000 000</span> -->
        </a>
    </div>
</div>