<div class="network-socials-fixed">
    <div class="item">
        <a href="#" target="_blank">
            <span class="icon"> <i class="fa fa-facebook"></i> </span>
            <span class="number">Facebook</span>
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank">
            <span class="icon"> <i class="fa fa-users"></i> </span>
            <span class="number">Hỗ trợ</span>
        </a>
    </div>
    <div class="item">
        <a href="#" target="_blank">
            <span class="icon"> <i class="fa fa-download"></i> </span>
            <span class="number">Tài liệu</span>
        </a>
    </div>
    <div class="item">
        <a href="tel:0900000000">
            <span class="icon"> <i class="fa fa-phone"></i> </span>
            <span class="number">0900 000 000</span>
        </a>
    </div>
</div>