body {
    font-family: $roboto;
}

.help-you {
    // background: url(../../images/form-de-lai-thong-tin.jpg) no-repeat top right;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    .title {        
        font-weight: 900;
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.hotline {
    a {
        color: $color_fpt_orange !important;

        &:hover {
            text-decoration: none;
        }

        strong {
            font-size: 1.1rem;
        }
    }
}

.color {
    color: $color;
}

.scroll-top {
    @include scroll-top;
    background: #fff;
    border-radius: 50%;
    width: 32px;
    height: 34px;
    text-align: center;
}

.bd-b {
    position: relative;
    border-bottom: 4px solid $color;

    &::before,
    &::after {
        position: absolute;
        content: "";
        bottom: -4px;
        width: 33.3333%;
        border-bottom: 4px solid #15b04b;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
        border-color: #1068b0;
    }
}

.arrow-ok {
    @include li-arrow-ok;
}

.banner {
    position: relative;

    .carousel-item {
        > div {
            max-width: 1920px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }

    &-detail {
        @include media-breakpoint-up(md) {
            top: 0;
            left: 0;
            right: 0;
            bottom: -1px;
            position: absolute;
            width: 100%;
        }

        &-inner {
            // @include media-breakpoint-up(md) {
            //     width: 400px;
            // }

            // @include media-breakpoint-up(lg) {
            //     width: 410px;
            // }

            // @include media-breakpoint-up(xl) {
            //     width: 430px;
            // }

            color: #1068b0;
            // background-color: rgba(0, 0, 0, 0.6);

            h4 {
                line-height: 1.4;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.banner-pricing {
    .banner-detail-inner {
        @include media-breakpoint-up(md) {
            width: 300px;
            height: 200px;
        }
        @include media-breakpoint-up(lg) {
            width: 320px;
            height: 250px;
        }
        @include media-breakpoint-up(xl) {
            width: 390px;
            height: 300px;
        }
    }
}

.ul-step {
    li {
        position: relative;
        background-color: $color_fpt_orange;
        color: $white;
        padding: 7px 15px;
        margin-bottom: 15px;
        margin-left: 100px;

        &::after {
            position: absolute;
            content: "";
            width: 38px;
            left: -63px;
            top: 0;
            bottom: 0;
            border: 2px solid $color_fpt_orange;
            z-index: -9;
        }

        span {
            position: absolute;
            left: -101px;
            color: $color_fpt_orange;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 900;
            font-size: 1.25rem;

            &::before,
            &::after {
                position: absolute;
                content: "";
                left: 0px;
                right: 0;
                background: #fff;
                height: 3px;
            }

            &::after {
                bottom: 5px;
            }

            &::before {
                top: 5px;
            }
        }
    }
}

.title-1 {
    color: $color_fpt_orange;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.invoice-billing {
    .form-control {
        border-width: 2px;
        border-color: $color_fpt_orange;
    }
}

.youtube-embed-wrapper {
    position: relative;
    padding-bottom: 53.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
